table {
    /*border-collapse: collapse;*/

border-spacing:0px;

}

td{
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    text-align: center;

    width:30px;
    height: 30px;
    table-layout: fixed;



}
